@{
    ViewData["Title"] = "Home Page";
}

<section id="section1" class="section">
    <h2>Розділ 1</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?
    </p>
</section>

<section id="section2" class="section">
    <h2>Розділ 2</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?
    </p>
</section>

<section id="section3" class="section">
    <h2>Розділ 3</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus autem corrupti quis,
        fugit, aliquid et optio accusantium quo maxime, quae officia iure ex dolore! Delectus modi incidunt minima accusantium
        ipsam?p>
</section> 
